__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.coverage
htmlcov/
*.log
.env
data/
reports/
BACKTESTER/OHLCV_Data_Binance/
BACKTESTER/Historical_Trades_Data_Binance/
BACKTESTER/reports/
.idea/
.vscode/
